{% extends 'core/base.html' %}

{% block content %} 

<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Need an immediate Health support?</h1>
      <p class="lead">Welcome to HOSPITAL! <br/> An online healtcare system tailored for your immediate service</p>
      <a class="btn btn-lg btn-primary" href="{% url 'patient-signup' %}" role="button">Signup here &raquo;</a>
      <br/> <small>Already have an account? <a href="{% url 'login' %}">Login Here!</a></small>
    </div>
</main>

<div class="container">
    <div class="p-5">
    <p>For Doctors only</p> 
        <a class="btn btn-lg btn-primary" href="{% url 'doctor-signup' %}" role="button">Doctors signup here &raquo;</a>
        <br/> <small>Already have an account? <a href="{% url 'login' %}">Login Here!</a></small>
    </div>
</div>
  

{% endblock content %}